
div .packageDetails {
 
 	width: 700px;
 	border: 1px solid #D09043;
 	position: absolute;
 	right: 50px;
 	top: 150px;
 	text-align: center;
 
 }
 
 div .jstreeFiles {
 	
 	width: 90%;
 	padding: 10px;
 	text-align: left;
	
 }
 
  div .jstreeSvnFiles {
 	
 	/* width: 100%; */
 	padding: 10px;
 	text-align: left;
	
 }
 
 .header_1 {
 	
	font-weight: bold;
	text-decoration: underline;
	word-spacing: 4pt;
	font-size: 24px;
	text-align: center;
	font-family: courier new, courier, monospace;
	margin-left: 10px;

}

 .header_2 {
 	
	font-weight: bold;
	word-spacing: 2pt;
	font-size: 16px;
	text-align: left;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	margin-left: 10px;
}

.button {
	
	width: 40px;
	height: 40px;
	text-align: left;	
	display: inline;
}

.progressWheel {
	
	padding: 15px;
	display: block;
}

img.progressBar {
	
	width: 400px;
	height: 80px;
	margin-top: 300px;

}

.progressBar {
	
	font-weight: bold;
	font-size: 20px;
	color: #B37616;
	text-align: center;
}

div#menu-left {
	
	position: relative;
	top: 100px;
	width: 15%;
}

div.tabs-left {
	
	cursor: pointer;
}

div.tabs-left-active {
	
	height: 50px;
	background-color: #F4F0EC;
	font-weight: bold;
	border: 1px solid #E0CFC2;
}

div.tabs-left-inactive {
	
	width: 85%;
	height: 50px;
	font-weight: normal;
	margin-left: 14%;
	background-color: #F5F5F5;
	border: 1px solid #E0CFC2;
}


div.tabs-left span {
	
	font-family: Verdana, Geneva, sans-serif;
	display: block;
	color: #E67620;
	font-size: 18;
	padding: 10px;
}

div.main-div-element {
	
	margin-left: 12%;
	position: absolute;
	top: 10px;
	width: 85%;
	min-height: 300px;
	background-color: #F4F0EC;
	border: 1px solid #E0CFC2;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

div#new-package-checkboxes-environments,
div#new-package-select-branches {
	
	width: 300px;
	padding: 10px;
		
}

div#new-package-select-files {
	
	padding: 10px;
	width: 95%;
	height: 600px;
}

div#new-package-select-files-left {

	border: 1px solid #E0CFC2;
	width: 45%;
	overflow: scroll;
	height: 100%;
	float: left;
}

div#new-package-select-files-center {
	
	height: 100%;
	float: left;
	position: relative;
	width: 10%;
	text-align: center;
}

div#new-package-select-files-center img {

	height: 60px;
	width: 60px;
	margin-top: 45%;
}

div#new-package-select-files-right {

	border: 1px solid #E0CFC2;
	width: 44%;
	overflow: scroll;
	height: 100%;
	position: relative;
	float: left;
}


div#veil-select-revision {
	
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: black;
	top: 0;
	left: 0;
	position: fixed;
	text-align: center;
	opacity: 0;
}

div#veil-select-revision-main-box {
	
	z-index: 100000;
	text-align: center;
	width: 900px;
	min-height: 300px;
	border: 1px solid #E0CFC2;
	position: fixed;
	background-color: #F4F0EC;
	margin: auto;
	margin-top: 100px;	
	margin-left: 100px;
}

div#veil-select-revision-main-box-header {
	
	margin: auto;
	width: 100%;
	height: 50px;
	background-color: #D09043;
}

span#veil-select-revision-main-box-header-content {
	
	margin: auto;
	text-align: center;	
}

div#veil-select-revision-main-box-content {
	
	padding: 10px;	
}

.veil-button {
	
	position: relative;
	width: 80px;
	height: 30px;
	background-color: #B9CCE1;
	text-align: center;
	font: Verdana, Geneva, sans-serif;
	font-weight: bold;
	cursor: pointer;
}

div#veil-select-revision-main-box-content-select {
	
	left: 250px;
}

div#veil-select-revision-main-box-content-cancel {
	
	left: 350px;
	top: -46px;
}

div#generate-package-button {
	
	width: 200px;
	height: 50px;
	position: relative;
	background-color: #B9CCE1;
	text-align: center;
	font: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	margin: auto; 
	margin-bottom: 30px;
	
}

div#generate-package-button p {
	
	padding-top: 10px;
}

input#new-package-select-files-search-textbox {
	
	width: 300px;
	height: 30px;
	margin-left: 10px;
}

input.textbox-tip {
	
	font-style:italic;
	color:#999999;
	font-size:16px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;
	
}

img.search-icon {
	
	width: 35px;
	height: 35px;
	margin-left: 10px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.alert-veil {
	
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: black;
	top: 0; 
	left: 0;
	position: fixed;
	opacity: 0;
}

div#new-package-validation-error-veil-box {
	
	z-index: 100000;
	width: 400px;
	background-color: #DEECFA;
	boder: 1px solid #F4F0EC;
	position: fixed;
	left: 35%;
	right: 35%;
	text-align: center;
}

div.veil-hidden {
	
	display: none;
}

div.veil-displayed {
	
	display: inline;
}

span#new-package-validation-error-veil-box-header {
	
	display: block;
	margin: 10px;
	text-align: center;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	color: #FF0000;
	font-size: 16;
	font-weight: bold;
}

span#new-package-validation-error-veil-box-content {
	
	display: block;
	margin: 10px;
	text-align: center;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 14;
}

div#new-package-validation-error-veil-box-button {
	
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}


 
 
 